* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}

.grid-container {
  width: 90%;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  grid-template-areas: 
    "grid-item-a grid-item-a grid-item-a"
    "grid-item-b grid-item-b grid-item-b"
    "grid-item-c grid-item-c grid-item-c"
    "grid-item-d grid-item-d grid-item-d";
}

.grid-item-a {
  grid-area: grid-item-a;
}
.grid-item-b {
  grid-area: grid-item-b;
}
.grid-item-c {
  grid-area: grid-item-c;
}
.grid-item-d {
  grid-area: grid-item-d;
}

.seat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.seat {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
  border: 1px solid black;
}

.seat-reserved {
  background-color: lightgrey;
}

.best-seats {
  background-color: chartreuse;
}