@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 249, 235);
  font-family: 'Courier Prime', monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}

.grid-container {
  width: 90%;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: .5fr 3fr .5fr 1fr 1fr;
  grid-template-areas: 
    ". grid-item-header ."
    "grid-item-left grid-item-middle grid-item-right"
    "grid-item-legend grid-item-legend grid-item-legend"
    "grid-item-input grid-item-input grid-item-input"
    ". grid-item-footer .";
}

.grid-item-header {
  grid-area: grid-item-header;
  justify-self: stretch;
  align-self: end;
  display: flex;
  justify-content: center;
}

.grid-item-middle {
  grid-area: grid-item-middle;
}

.grid-item-left {
  grid-area: grid-item-left;
  align-self: end;
}

.grid-item-right {
  grid-area: grid-item-right;
  align-self: end;
}

.grid-item-legend {
  grid-area: grid-item-legend;
  align-self: end;
}

.grid-item-input {
  grid-area: grid-item-input;
  align-self: start;
  display: flex;
}

.grid-item-footer {
  grid-area: grid-item-footer;
}

.area-container-middle {
  margin-top: 40px;
}

.area-container-side {
  margin-top: 80px;
}

.area-title {
  text-align: center;
  margin-bottom: 5px;
}

.grid-item-left .area-container-side:first-child {
  transform: rotate(30deg) translate(75px, -40px);
}

.grid-item-left .area-container-side:not(:first-child):not(:last-child) {
  transform: rotate(30deg) translateY(-45px);
}

.grid-item-left .area-container-side:last-child {
  transform: rotate(30deg) translateY(-45px);
}

.grid-item-left .area-container-side:last-child .seat-container:last-child{
  transform: translateX(-20px);
}

.grid-item-right .area-container-side:first-child {
  transform: rotate(330deg) translate(-75px, -40px);
}

.grid-item-right .area-container-side:not(:first-child):not(:last-child) {
  transform: rotate(330deg) translateY(-45px);
}

.grid-item-right .area-container-side:last-child {
  transform: rotate(330deg) translateY(-45px);
}

.grid-item-right .area-container-side:last-child .seat-container:last-child{
  transform: translateX(20px);
}

.seat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.seat {
  width: 30px;
  height: 30px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.seat-red {
  background-color: #FAC115;
}
.seat-yellow {
  background-color: #ff585b;
}
.seat-blue {
  background-color: #88B9EB;
}
.seat-green {
  background-color: #7AC56D;
}

.seat-reserved {
  background-color: rgb(138, 138, 138);
}

.seat-best {
  background-color: chartreuse;
  font-weight: bold;
}

.row-number {
  font-size: 20px;
  color: rgb(138, 138, 138);
}

.stage {
  width: 650px;
  height: 10px;
  background-color: rgb(138, 138, 138);
  transform: translateX(10px);
}

.legend-container {
  width: fit-content;
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.legend-item {
  list-style-type: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

.legend-item li:first-child {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.input-container {
  width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px 0px;
  border-top: 1px solid rgb(138, 138, 138);
  border-bottom: 1px solid rgb(138, 138, 138);
}

.input-item {
  width: 33%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* FindPlaces */
.seat-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-input-container button {
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(138, 138, 138);
  color: white;
  font-size: 30px;
  font-weight: 100;
  transition: all .3s ease-out;
  font-family: 'Courier Prime', monospace;
  margin-bottom: 10px;
}

.seat-input-container button:hover {
  background-color: rgb(167, 167, 167);
}

.seat-input-container button:disabled {
  background-color: rgb(190, 190, 190);
  cursor: initial;
}

.seat-input-container .input-result {
  font-size: 20px;
  display: inline-block;
  margin: 0 20px;
}
/* ------------------ */

/* GenerateButton */
.occupied-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.occupied-input-container button {
  border: none;
  cursor: pointer;
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(138, 138, 138);
  color: white;
  font-size: 20px;
  font-weight: 100;
  transition: all .3s ease-out;
  margin-left: 20px;
  font-family: 'Courier Prime', monospace;
  margin-bottom: 10px;
}

.occupied-input-container button:hover {
  background-color: rgb(167, 167, 167);
}

.occupied-input-container button:disabled {
  background-color: rgb(190, 190, 190);
  cursor: initial;
}

.occupied-input-container input {
  border: none;
  border-bottom: 4px solid rgb(138, 138, 138);
  font-size: 20px;
  background-color: rgb(255, 249, 235); 
  width: 70px;
  outline: none;
  font-family: 'Courier Prime', monospace;
}
/* ------------------ */

/* DisplayResult */
.result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ------------------ */

/* ResetButton */
.reset-button-container {
  width: 33%;
}

.reset-button-container button{
  border: none;
  cursor: pointer;
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
  background-color: #ff6a6a;
  color: white;
  font-size: 20px;
  font-weight: 100;
  transition: all .3s ease-out; 
  font-family: 'Courier Prime', monospace;
}

.reset-button-container button:hover {
  background-color: #ff4f4f;
  display: flex;
  align-items: center;
}
/* ------------------ */

.input-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.error {
  color: #ff4f4f;
  font-weight: bold;
}

.result {
  font-weight: bold;
}



